.view-container-scrollview {
    border: none;
    background-color: $default-background-color;
}

#themeBox {
    border-left: 1px solid $normal-border-color;
    border-right: 1px solid $normal-border-color;
    background-color: $default-background-color;
}

#mainTabs > tabview-contents {
    background-color: $default-background-color;
}