/************************************************************************
** STYLED
*************************************************************************/
.styled-checkbox .checkbox-value {
    border-size: 3px;
    border-radius: 10px;
    border-color: #997a00;
    background: #ffa700 #ffce00;
    color: #665200;
    filter: drop-shadow(3, 45, #000000, 0.3, 2, 2, 1, 3, true);
    width: 32px;
    height: 32px;
}

.styled-checkbox .checkbox-value:hover {
    background: #ffb833 #ffd633;
    color: #997a00;
}

.styled-checkbox .checkbox-value:selected {
    icon: "styled/tick.png";
}

.styled-checkbox .label {
    color: #665200;
    font-size: 15px;
    font-style: bold;
}

/************************************************************************
** BITMAP
*************************************************************************/
.bitmap-checkbox .checkbox-value {
    background-image: "demo/checks.png";
    background-image-clip: 0px 0px 24px 24px;
    border: none;
    width: 24px;
    height: 24px;
    filter: none;
}

.bitmap-checkbox .checkbox-value:selected {
    background-image: "demo/checks.png";
    background-image-clip: 0px 25px 24px 49px;
    icon: "none";
}
