<?xml version="1.0" encoding="utf-8" ?>
<module preload="all">
    <resources>
        <resource path="assets/icons" prefix="icons" />
        <resource path="assets/images" prefix="images" />
        <resource path="assets/views" prefix="views" />
        <resource path="src/views" prefix="src/views" />
    </resources>

    <components>
        <component package="custom" />
    </components>
    
    <scriptlets>
        <import class="util.Logger" static="true" />
    </scriptlets>
</module>
